services:

  artifactory-badge:
    image: devatherock/artifactory-badge:${DOCKER_TAG:-latest}
    container_name: artifactory-badge-intg-remote
    network_mode: "host"
    environment:
      - ARTIFACTORY_URL=http://localhost:8081
      - ARTIFACTORY_API_KEY=dummyKey
      - LOGBACK_CONFIGURATION_FILE=https://raw.githubusercontent.com/devatherock/artifactory-badge/master/src/test/resources/logback-tests.xml

  health:
    image: alpine:3.21.2
    network_mode: "host"
    depends_on:
      - artifactory-badge
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:8080/health"]
      interval: 2s
      timeout: 60s
      retries: 30
    command: |
      sh -c '
        wget -q -O - http://localhost:8080/health
        sleep 120
      '
