docker_auth: &docker_auth
  auth:
    username: $DOCKER_USERNAME
    password: $DOCKER_PASSWORD

slack_image: &slack_image
  docker:
    - image: devatherock/simple-slack:1.0.0
      <<: *docker_auth
        
docker_executor_image: &docker_executor_image
  docker:
    - image: cimg/openjdk:17.0.10
      <<: *docker_auth

work_directory: &work_directory
  working_directory: ~/artifactory-badge

resource_class: &resource_class
  resource_class: small
  
release_filter: &release_filter
  filters:
    branches:
      only: non-existent-branch
    tags:
      only: /^v[0-9\.]+$/
      
pr_filter: &pr_filter
  filters:
    branches:
      ignore: master

orbs:
  templates: devatherock/circleci-templates@0.4.0

parameters:
  repo_name:
    type: string
    default: "artifactory-badge"
  
executors:
  jdk-executor:
    docker:
      - image: devatherock/graalvm:ol8-java17-22.3.2-5
        <<: *docker_auth
    <<: *resource_class
    <<: *work_directory
    environment:
      # To generate swagger UI
      JAVA_TOOL_OPTIONS: '-Dmicronaut.openapi.views.spec=swagger-ui.enabled=true,swagger-ui.theme=flattop'
  docker-executor:
    <<: *docker_executor_image
    <<: *resource_class
    <<: *work_directory
  native-image-executor:
    <<: *docker_executor_image
    resource_class: medium
    <<: *work_directory
  machine-executor:
    machine:
      image: ubuntu-2204:2023.04.2
    resource_class: medium
    <<: *work_directory
  arm-executor:
    machine:
      image: ubuntu-2004:2022.04.1
    resource_class: arm.medium
    <<: *work_directory

version: 2.1
jobs:
  test:
    executor: jdk-executor
    steps:
      - checkout
      - attach_workspace:
          at: ~/artifactory-badge
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies
      - run: |
          ./gradlew check sonar -Dsonar.login=$SONAR_TOKEN -Dgraalvm=true
      - store_artifacts:
          path: build/reports
      - store_test_results:
          path: build/test-results
  build:
    executor: jdk-executor
    steps:
      - checkout
      - attach_workspace:
          at: ~/artifactory-badge
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies
      - run: |
          ./gradlew build coveralls sonar -Dsonar.login=$SONAR_TOKEN -Dgraalvm=true
      - persist_to_workspace:
          root: ~/artifactory-badge
          paths:
            - build
      - store_artifacts:
          path: build/reports
      - store_test_results:
          path: build/test-results
      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}
          
  publish:
    executor: native-image-executor
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: ~/artifactory-badge
      - run: |
          TAG=${CIRCLE_SHA1:0:8}
          echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
          docker build \
            -t devatherock/artifactory-badge:$TAG \
            -t devatherock/artifactory-badge:latest \
            -t devatherock/artifactory-badge:amd64 .
          docker image push --all-tags devatherock/artifactory-badge
            
  publish_arm:
    executor: arm-executor
    steps:
      - checkout
      - attach_workspace:
          at: ~/artifactory-badge
      - run: |
          TAG=${CIRCLE_SHA1:0:8}-arm64
          echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
          docker build \
            -t devatherock/artifactory-badge:$TAG \
            -t devatherock/artifactory-badge:arm64 .
          docker image push --all-tags devatherock/artifactory-badge
              
  integration_test:
    parameters:
      command_args:
        type: string
      runner:
        type: executor
    executor: << parameters.runner >>
    steps:
      - checkout
      - attach_workspace:
          at: ~/artifactory-badge
      - restore_cache:
          keys:
            - v1-integration-{{ checksum "build.gradle" }}
            - v1-integration
      - run: |
          make integration-test remote-integration-test << parameters.command_args >>
      - save_cache:
          paths:
            - ~/.gradle
          key: v1-integration-{{ checksum "build.gradle" }}
      - store_test_results:
          path: build/test-results
  
  publish_release:
    executor: docker-executor
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: ~/artifactory-badge
      - run: |
          TAG=${CIRCLE_TAG#v}
          DEV_TAG=${CIRCLE_SHA1:0:8}
          echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
          docker pull devatherock/artifactory-badge:$DEV_TAG
          docker tag devatherock/artifactory-badge:$DEV_TAG devatherock/artifactory-badge:$TAG
          docker tag devatherock/artifactory-badge:$DEV_TAG devatherock/artifactory-badge:${TAG}-amd64
          docker pull devatherock/artifactory-badge:${DEV_TAG}-arm64
          docker tag devatherock/artifactory-badge:${DEV_TAG}-arm64 devatherock/artifactory-badge:${TAG}-arm64
          docker push devatherock/artifactory-badge:$TAG
          docker push devatherock/artifactory-badge:${TAG}-amd64
          docker push devatherock/artifactory-badge:${TAG}-arm64

  notify:
    <<: *slack_image
    <<: *resource_class
    environment:
      TEXT: "Success: {{.CircleBuildUrl}} by {{.CircleUsername}}"
      CHANNEL: general
      TITLE: "Build completed"
    steps:
      - run: /bin/simpleslack -c "#33ad7f" || true

workflows:
  version: 2.1
  build_publish:
    jobs:
      - templates/yaml_validator:
          name: validate_yamls
          context:
            - docker-credentials
          work_dir: '~/<< pipeline.parameters.repo_name >>'
          filters:
            branches:
              only: master
      - build:
          context:
            - docker-credentials
            - sonar-credentials
            - dependencycheck-credentials
          requires:
            - validate_yamls    
      - publish:
          context:
            - docker-credentials
          requires:
            - build
      - publish_arm:
          context:
            - docker-credentials
          requires:
            - build
      - templates/dockerhub_readme_update:
          name: dockerhub_readme
          context:
            - docker-credentials
            - dockerhub-readme-credentials
          docker_image: '<< pipeline.parameters.repo_name >>'
          image_description: 'Badge generator for docker registries hosted in jfrog artifactory'
          work_dir: '~/<< pipeline.parameters.repo_name >>'
          requires:
            - publish_arm
      - integration_test:
          name: integration_test_amd
          context:
            - docker-credentials
          runner: machine-executor
          command_args: ''
          requires:
            - publish
      - integration_test:
          name: integration_test_arm
          context:
            - docker-credentials
          runner: arm-executor
          command_args: 'docker_tag=arm64'
          requires:
            - dockerhub_readme
      - notify:
          context:
            - docker-credentials
            - slack-webhook
          requires:
            - integration_test_amd
            - integration_test_arm

  release:
    jobs:
      - publish_release:
          context:
            - docker-credentials
          <<: *release_filter
      - notify:
          context:
            - docker-credentials
            - slack-webhook
          <<: *release_filter
          requires:
            - publish_release

  pr_check:
    jobs:
      - templates/changelog_updater:
          name: changelog_updater
          context:
            - docker-credentials
            - changelog-updater-credentials
          <<: *pr_filter
      - templates/yaml_validator:
          name: validate_yamls
          context:
            - docker-credentials
          work_dir: '~/<< pipeline.parameters.repo_name >>'
          requires:
            - changelog_updater    
      - test:
          context:
            - docker-credentials
            - sonar-credentials
            - dependencycheck-credentials
          <<: *pr_filter
          requires:
            - validate_yamls