slack_image: &slack_image
  docker:
    - image: devatherock/simple-slack:0.4.0
      auth:
        username: $DOCKER_USERNAME
        password: $DOCKER_PASSWORD

orbs:
  docker: circleci/docker@1.5.0
  gradle: circleci/gradle@2.2.0

work_directory: &work_directory
  working_directory: ~/artifactory-badge

resource_class: &resource_class
  resource_class: small
  
executors:
  jdk-executor:
    docker:
      - image: devatherock/graalvm:0.2.0
        auth:
          username: $DOCKER_USERNAME
          password: $DOCKER_PASSWORD
    <<: *resource_class
    <<: *work_directory
    environment:
      # To generate swagger UI
      JAVA_TOOL_OPTIONS: '-Dmicronaut.openapi.views.spec=swagger-ui.enabled=true,swagger-ui.theme=flattop'
  docker-executor:
    docker:
      - image: cimg/openjdk:11.0
        auth:
          username: $DOCKER_USERNAME
          password: $DOCKER_PASSWORD
    <<: *resource_class
    <<: *work_directory

version: 2.1
jobs:
  test:
    executor: jdk-executor
    steps:
      - checkout
      - attach_workspace:
          at: ~/artifactory-badge
      - restore_cache:
          keys:
            - v1-dependencies
      - run: |
          ./gradlew test sonarqube -Dsonar.login=$SONAR_TOKEN -Dgraalvm=true
      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies
      - store_test_results:
          path: build/test-results
  
  publish_release:
    executor: docker-executor
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: ~/artifactory-badge
      - run: |
          TAG=${CIRCLE_TAG#v}
          DEV_TAG=${CIRCLE_SHA1:0:8}
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
          docker pull devatherock/artifactory-badge:$DEV_TAG
          docker tag devatherock/artifactory-badge:$DEV_TAG devatherock/artifactory-badge:$TAG
          docker push devatherock/artifactory-badge:$TAG

  notify_success:
    <<: *slack_image
    <<: *resource_class
    environment:
      TEXT: "Success: {{.CircleBuildUrl}} by {{.CircleUsername}}"
      CHANNEL: general
      TITLE: "Build completed"
    steps:
      - run: /bin/simpleslack -c "#33ad7f" || true
  notify_failure:
    <<: *slack_image
    <<: *resource_class
    environment:
      TEXT: "Failure: {{.CircleBuildUrl}} by {{.CircleUsername}}"
      CHANNEL: general
      TITLE: "Build completed"
    steps:
      - run:
          name: Failure notification
          command: /bin/simpleslack -c "#a1040c" || true
          when: on_fail

workflows:
  version: 2.1
  build_publish:
    jobs:
      - gradle/run:
          name: build
          executor: jdk-executor
          context:
            - docker-credentials
            - sonar-credentials
          filters:
            branches:
              only: master
          command: build coveralls sonarqube -Dsonar.login=$SONAR_TOKEN -Dgraalvm=true
          post-steps:
            - persist_to_workspace:
                root: ~/artifactory-badge
                paths:
                  - build
            - store_test_results:
                path: build/test-results
      - docker/publish:
          name: publish
          executor: docker-executor
          context:
            - docker-credentials
          requires:
            - build
          image: devatherock/artifactory-badge
          attach-at: ~/artifactory-badge
          tag: "${CIRCLE_SHA1:0:8},latest"
          use-remote-docker: true
          docker-username: DOCKER_USERNAME
      - notify_success:
          context:
            - docker-credentials
            - slack-webhook
          requires:
            - publish
      - notify_failure:
          context:
            - docker-credentials
            - slack-webhook 
          requires:
            - publish
  release:
    jobs:
      - publish_release:
          context:
            - docker-credentials
          filters:
            branches:
              only: non-existent-branch
            tags:
              only: /^v[0-9\.]+$/
      - notify_success:
          context:
            - docker-credentials
            - slack-webhook
          requires:
            - publish_release
      - notify_failure:
          context:
            - docker-credentials
            - slack-webhook
          requires:
            - publish_release
  pr_check:
    jobs:
      - test:
          context:
            - docker-credentials
            - sonar-credentials
          filters:
            branches:
              ignore: master